@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin "daisyui";

@layer base {
    h1 {
        font-size: var(--text-4xl);
    }

    h2 {
        font-size: var(--text-3xl);
    }
        h3 {
        font-size: var(--text-2xl);
    }
        h4 {
        font-size: var(--text-xl);
    }
            h5 {
        font-size: var(--text-lg);
    }
            h6 {
        font-size: var(--text-xl);
    }
}